<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width", initial-scale=1.0">
        <title>Colour Palette</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1 id="title">{{TITLE}}</h1>
        <p id="description">{{DESCRIPTION}}</p>

        <section id="palette" class="palette">
            {{SWATCHES}}
        </section>

        <a
            href="/preview?primary={{ palette.colours[0].hex }}&accent={{ palette.colours[1].hex }}&dark={{ palette.colours[2].hex }}"
            target="_blank"
        >
            Preview landing page
        </a>
    </body>
</html>